body
{
    font-family: 'Montserrat', sans-serif;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 25%, #F7CE68 100%);

}
#container
{
    
    margin-top: 100px;
    position: relative;
    width: 350px;
    height: 560px;
    background-color: #201711;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#calculator
{
    
    position: relative;
    width: 320px;
    height: 120px;
    background-color:#fcf4ed;
    margin-top: 130px;
   
    top: 10px;
    border-radius: 12px;
  /*  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
*/
}
#result
{
    height: 120px;
}
#keyboard
{
    
    margin-top: 20px;
    height: 400px;
    
}
#history
{
    height: 30px;
    padding-top: 20px;
    font-size: 15px;
    letter-spacing: 2px;
    margin: 0 20px;
    text-align: right;
    color: #919191;
}
#output
{
   text-align: right;
   height: 60px;
   margin: 10px 20px;
   font-size: 30px;
}
.operator, .number, .empty
{
    font-family: "Montserrat", sans-serif;
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 50px;
    border-width: 0;
    font-weight: bold;
    font-size: 20px;
    
}
.number, .empty{
    background-color: #201711;
}
.empty{
    background-color: #201711;
}
.number:hover{
    background-color: #d8d3d3;
    transition: ease-in-out 250ms;
    color: #201711;
}
.operator{
    background-color: #e2e2e2;
    
}
.number{
    color: white;
}

/*Making the buttons interactive*/
.number, .operator
{
    cursor: pointer;
    
}
.operator:active, .number:active
{
    font-size: 23px;
    transition: ease-in-out;
}

/*Changing the colors of the buttons which contain the operator symbols in them.*/
button:nth-child(4)
{
    font-size: 20px;
    background-color:  #ffb938;
}
button:nth-child(8)
{
    font-size: 20px;
    background-color: #ffb938;
}
button:nth-child(12)
{
    font-size: 20px;
    background-color: #ffb938;
}
button:nth-child(16)
{
    font-size: 20px;
    background-color:  #ffb938;
}
button:nth-child(20)
{
    font-size: 20px;
    background-color:  #ffb938;
}

#header
{
    padding-top: 30px;
    font-size: 50px;
    font-weight: bolder;
}
